HELP.md
../../Documents/StayCleanSystem/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
target/classes/com/stayclean/controller/web/UserController.class
*.class
*.class
target/classes/com/stayclean/services/UserService.class
target/classes/com/stayclean/model/SurveyResultDTO.class
*.class
target/classes/com/stayclean/controller/web/UserController.class
target/classes/com/stayclean/model/SurveyResultDTO.class
*.class
target/classes/com/stayclean/config/WebConfig.class
target/classes/com/stayclean/services/UserService.class
target/classes/com/stayclean/repository/UserRepository.class
