.survey-question-text{
    margin-bottom: 10px;
    font-size: 20px;
}
/*============BUTTON AREA BELOW==========================*/
.survey-button {
    border-radius: 8px;
    border: 5px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.yes{
    background-color: #88619A;
}

.no{
    background-color: #33A474;
}

/* Highlight when selected */
.yes.active {
  border: 5px solid black;
  
  opacity: 1;
}

.no.active {
  border: 5px solid black;
  opacity: 1;
}