<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DrugPrevent Login</title>
    <link rel="stylesheet" href="css/login.css"/>

</head>
<body>

<header>
    <div class="header-container">
        <div class="logo">
            <div class="icon">ICON</div>
            <div class="logo-text">
                <strong>STAY CLEAN</strong>
            </div>
        </div>
</header>

<div class=sign-in-container>
    <div class="title">
        <h2>Sign in</h2>
    </div>
    <form class="form">
        <input type="email" placeholder="Enter your email" required/>
        <input type="password" placeholder="Enter your password" required/>

        <div class="form-options">
            <label><input type="checkbox"/> Remember me</label>
            <a href="#">Forgot password?</a>
        </div>

        <button type="submit">Sign In</button>

        <p class="signup-text">
            Don't have an account? <a href="#">Sign up</a>
        </p>
    </form>
</div>
</body>
</html>
